.card{
  margin: 10px 10px;
  border: 2px solid black;
  border-radius: 10px;
  max-width: 100%;
  width: 350px;
  padding: 10px 10px;
  background-color: rgb(35, 35, 35);
  color: aliceblue;
}
.card h1{
  color: blue;
  font-size: 3.0rem;
}
.card h3{
  color: rgb(255, 98, 0);
}
.card h4{
  font-size: 19px;
}